* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
  padding: 2vh;
}

.container {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.restaurantes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.duque {
  background-color: white;
  border: 2px black solid;
  gap: 2vh;
  height: 20vh;
  width: 25vh;
}
